While_E/Connected Services/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Get_User">
        <s:complexType />
      </s:element>
      <s:element name="Get_UserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_UserResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userRole" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Add_User">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_UserResponse">
        <s:complexType />
      </s:element>
      <s:element name="Del_User">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Del_UserResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update_User">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_UserResponse">
        <s:complexType />
      </s:element>
      <s:element name="Get_Task">
        <s:complexType />
      </s:element>
      <s:element name="Get_TaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_TaskResult" type="tns:ArrayOfTask" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTask">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Task">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="taskId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="taskName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="taskDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="taskComplete" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Add_Task">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="comp" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_TaskResponse">
        <s:complexType />
      </s:element>
      <s:element name="Del_Task">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Del_TaskResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update_Task">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="comp" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_TaskResponse">
        <s:complexType />
      </s:element>
      <s:element name="Get_Selected_User">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Selected_UserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_Selected_UserResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Selected_Task">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Selected_TaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_Selected_TaskResult" type="tns:ArrayOfTask" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_UserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_UserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_UserNameResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_CompTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_CompTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_CompTasksResult" type="tns:ArrayOfTask" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Get_UserSoapIn">
    <wsdl:part name="parameters" element="tns:Get_User" />
  </wsdl:message>
  <wsdl:message name="Get_UserSoapOut">
    <wsdl:part name="parameters" element="tns:Get_UserResponse" />
  </wsdl:message>
  <wsdl:message name="Add_UserSoapIn">
    <wsdl:part name="parameters" element="tns:Add_User" />
  </wsdl:message>
  <wsdl:message name="Add_UserSoapOut">
    <wsdl:part name="parameters" element="tns:Add_UserResponse" />
  </wsdl:message>
  <wsdl:message name="Del_UserSoapIn">
    <wsdl:part name="parameters" element="tns:Del_User" />
  </wsdl:message>
  <wsdl:message name="Del_UserSoapOut">
    <wsdl:part name="parameters" element="tns:Del_UserResponse" />
  </wsdl:message>
  <wsdl:message name="Update_UserSoapIn">
    <wsdl:part name="parameters" element="tns:Update_User" />
  </wsdl:message>
  <wsdl:message name="Update_UserSoapOut">
    <wsdl:part name="parameters" element="tns:Update_UserResponse" />
  </wsdl:message>
  <wsdl:message name="Get_TaskSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Task" />
  </wsdl:message>
  <wsdl:message name="Get_TaskSoapOut">
    <wsdl:part name="parameters" element="tns:Get_TaskResponse" />
  </wsdl:message>
  <wsdl:message name="Add_TaskSoapIn">
    <wsdl:part name="parameters" element="tns:Add_Task" />
  </wsdl:message>
  <wsdl:message name="Add_TaskSoapOut">
    <wsdl:part name="parameters" element="tns:Add_TaskResponse" />
  </wsdl:message>
  <wsdl:message name="Del_TaskSoapIn">
    <wsdl:part name="parameters" element="tns:Del_Task" />
  </wsdl:message>
  <wsdl:message name="Del_TaskSoapOut">
    <wsdl:part name="parameters" element="tns:Del_TaskResponse" />
  </wsdl:message>
  <wsdl:message name="Update_TaskSoapIn">
    <wsdl:part name="parameters" element="tns:Update_Task" />
  </wsdl:message>
  <wsdl:message name="Update_TaskSoapOut">
    <wsdl:part name="parameters" element="tns:Update_TaskResponse" />
  </wsdl:message>
  <wsdl:message name="Get_Selected_UserSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Selected_User" />
  </wsdl:message>
  <wsdl:message name="Get_Selected_UserSoapOut">
    <wsdl:part name="parameters" element="tns:Get_Selected_UserResponse" />
  </wsdl:message>
  <wsdl:message name="Get_Selected_TaskSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Selected_Task" />
  </wsdl:message>
  <wsdl:message name="Get_Selected_TaskSoapOut">
    <wsdl:part name="parameters" element="tns:Get_Selected_TaskResponse" />
  </wsdl:message>
  <wsdl:message name="Get_UserNameSoapIn">
    <wsdl:part name="parameters" element="tns:Get_UserName" />
  </wsdl:message>
  <wsdl:message name="Get_UserNameSoapOut">
    <wsdl:part name="parameters" element="tns:Get_UserNameResponse" />
  </wsdl:message>
  <wsdl:message name="Get_CompTasksSoapIn">
    <wsdl:part name="parameters" element="tns:Get_CompTasks" />
  </wsdl:message>
  <wsdl:message name="Get_CompTasksSoapOut">
    <wsdl:part name="parameters" element="tns:Get_CompTasksResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Get_User">
      <wsdl:input message="tns:Get_UserSoapIn" />
      <wsdl:output message="tns:Get_UserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add_User">
      <wsdl:input message="tns:Add_UserSoapIn" />
      <wsdl:output message="tns:Add_UserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Del_User">
      <wsdl:input message="tns:Del_UserSoapIn" />
      <wsdl:output message="tns:Del_UserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_User">
      <wsdl:input message="tns:Update_UserSoapIn" />
      <wsdl:output message="tns:Update_UserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Task">
      <wsdl:input message="tns:Get_TaskSoapIn" />
      <wsdl:output message="tns:Get_TaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add_Task">
      <wsdl:input message="tns:Add_TaskSoapIn" />
      <wsdl:output message="tns:Add_TaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Del_Task">
      <wsdl:input message="tns:Del_TaskSoapIn" />
      <wsdl:output message="tns:Del_TaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Task">
      <wsdl:input message="tns:Update_TaskSoapIn" />
      <wsdl:output message="tns:Update_TaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Selected_User">
      <wsdl:input message="tns:Get_Selected_UserSoapIn" />
      <wsdl:output message="tns:Get_Selected_UserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Selected_Task">
      <wsdl:input message="tns:Get_Selected_TaskSoapIn" />
      <wsdl:output message="tns:Get_Selected_TaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_UserName">
      <wsdl:input message="tns:Get_UserNameSoapIn" />
      <wsdl:output message="tns:Get_UserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CompTasks">
      <wsdl:input message="tns:Get_CompTasksSoapIn" />
      <wsdl:output message="tns:Get_CompTasksSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_User">
      <soap:operation soapAction="http://tempuri.org/Get_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_User">
      <soap:operation soapAction="http://tempuri.org/Add_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_User">
      <soap:operation soapAction="http://tempuri.org/Del_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_User">
      <soap:operation soapAction="http://tempuri.org/Update_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Task">
      <soap:operation soapAction="http://tempuri.org/Get_Task" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Task">
      <soap:operation soapAction="http://tempuri.org/Add_Task" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_Task">
      <soap:operation soapAction="http://tempuri.org/Del_Task" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Task">
      <soap:operation soapAction="http://tempuri.org/Update_Task" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Selected_User">
      <soap:operation soapAction="http://tempuri.org/Get_Selected_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Selected_Task">
      <soap:operation soapAction="http://tempuri.org/Get_Selected_Task" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_UserName">
      <soap:operation soapAction="http://tempuri.org/Get_UserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CompTasks">
      <soap:operation soapAction="http://tempuri.org/Get_CompTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_User">
      <soap12:operation soapAction="http://tempuri.org/Get_User" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_User">
      <soap12:operation soapAction="http://tempuri.org/Add_User" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_User">
      <soap12:operation soapAction="http://tempuri.org/Del_User" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_User">
      <soap12:operation soapAction="http://tempuri.org/Update_User" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Task">
      <soap12:operation soapAction="http://tempuri.org/Get_Task" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Task">
      <soap12:operation soapAction="http://tempuri.org/Add_Task" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_Task">
      <soap12:operation soapAction="http://tempuri.org/Del_Task" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Task">
      <soap12:operation soapAction="http://tempuri.org/Update_Task" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Selected_User">
      <soap12:operation soapAction="http://tempuri.org/Get_Selected_User" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Selected_Task">
      <soap12:operation soapAction="http://tempuri.org/Get_Selected_Task" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_UserName">
      <soap12:operation soapAction="http://tempuri.org/Get_UserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CompTasks">
      <soap12:operation soapAction="http://tempuri.org/Get_CompTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:56118/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:56118/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>